<div class="flex-container" fxLayout="column">
  <button (click)="home()" fxFlexAlign="center" class="logo-container">
    <div class="logo"></div>
  </button>
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <md-card>
        <md-card-title>Sign In</md-card-title>
        <md-card-content>
          <div *ngIf="error | async" color="error">{{ error | async }}</div>
          <form *ngIf="!(loading | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>
            <div fxLayout="column">
              <md-input-container fxFlex="100%">
                <input mdInput required placeholder="Email Address" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="email">
              </md-input-container>
              <md-input-container fxFlex="100%">
                <input mdInput required type="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="password">
              </md-input-container>
              <button md-raised-button color="accent" [disabled]="form.invalid" type="submit">Sign In</button>
              <a md-button (click)="signUp()">Sign Up with Email</a>
            </div>
          </form>
          <div fxLayout="row" fxLayoutAlign="center">
            <md-spinner *ngIf="loading | async"></md-spinner>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>