<div class="flex-container" fxLayout="column">
  <button (click)="home()" fxFlexAlign="center" class="logo-container">
    <div class="logo"></div>
  </button>
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <mat-card>
        <mat-card-title>Sign In</mat-card-title>
        <mat-card-content>
          <div *ngIf="error | async" color="error">{{ error | async }}</div>
          <form *ngIf="!(loading | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <mat-form-field>
                <input matInput required placeholder="Email Address" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="email">
              </mat-form-field>
              <mat-form-field>
                <input matInput required type="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="password">
              </mat-form-field>
              <button mat-raised-button color="accent" [disabled]="form.invalid" type="submit">Sign In</button>
              <a mat-button (click)="signUp()">Sign Up with Email</a>
            </div>
          </form>
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-spinner *ngIf="loading | async"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
