<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <md-card>
        <md-card-title>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div class="avatar-wrapper" fxLayoutAlign="center center">
              <md-icon>person</md-icon>
            </div>
          </div>
          <button md-icon-button [mdMenuTriggerFor]="menu" disableRipple="true" class="menu-button">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item (click)="signOut()">Sign Out</button>
          </md-menu>
        </md-card-title>
        <md-card-content>
          <p>Hello, {{ (user | async).firstName }}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>