<div class="flex-container" fxLayout="column">
  <button (click)="home()" fxFlexAlign="center" class="logo-container">
    <div class="logo"></div>
  </button>
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <md-card>
        <md-card-title>Signed Out</md-card-title>
        <md-card-content>
          <div fxLayout="column">
            <p>You have been successfully signed out.</p>
            <a md-button (click)="signIn()">Sign In</a>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>